@font-face {
  font-family: SharpSans;
  src: url("../assets/SharpSans/Sharp-Sans-No1-Medium.woff");
}

@font-face {
  font-family: SharpSans;
  font-weight: bold;
  src: url("../assets/SharpSans/Sharp-Sans-No1-Bold.woff");
}

@font-face {
  font-family: SharpSans;
  font-weight: 300;
  src: url("../assets/SharpSans/Sharp-Sans-No1-Light.woff");
}

@font-face {
  font-family: SharpSans;
  font-weight: 700;
  src: url("../assets/SharpSans/Sharp-Sans-No1-ExtraBold.woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:disabled {
  color: grey;
  border: none;
  cursor: no-drop;
}

button:disabled::after {
  display: none;
}

section {
  min-height: 100vh;
  min-width: 100vw;
}

.btn-primary {
  position: relative;
  background-color: white;
}

.btn-primary:hover::after {
  height: calc(100% - 3px);
}

.btn-primary::after {
  content: '';
  width: calc(4px + 100%);
  height: 100%;
  background-color: #6374F9;
  z-index: -1;
  top: 10px;
  left: -2px;
  border-radius: 11px;
  position: absolute;
  transition: height .2s;
}

html {
  font-family: "SharpSans";
  font-size: 62.5%;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

header img {
  width: 100px;
  height: auto;
}

header nav {
  width: 50%;
}

header nav ul {
  align-self: flex-start;
  display: flex;
}

header nav ul li {
  list-style: none;
  margin: 0 10px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  width: 100%;
}

.content__inputWrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

.content__inputWrapper::after {
  content: 'E.g popular words & phrases that your comunity use, what people call you, things you say, your band or DJ name, initials, squad names etc.';
  width: 100%;
  z-index: 10;
  bottom: 20%;
  position: absolute;
}

.content__textArea {
  font-size: 2rem;
  width: 100%;
  resize: none;
  border: none;
  padding: 10px;
  font-weight: bold;
  display: flex;
  outline: none;
}

.content__buttonsWrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.content__button {
  margin: 30px 0;
  background-color: white;
  border: 2px solid #6374F9;
  border-radius: 11px;
  font-size: 1.8rem;
  padding: 10px 25px;
  cursor: pointer;
}

.step2 {
  display: flex;
  width: 100%;
  top: 0;
}

.step2__tshirtWrapper {
  position: relative;
  width: min-content;
  background-color: red;
}

.step2__phrases {
  width: 40%;
  height: 44%;
  background-color: transparent;
  border: 1px dashed black;
  padding: 15px;
  position: absolute;
  top: 25%;
  left: 30%;
  touch-action: none;
  user-select: none;
  overflow: hidden;
}

.step2__phrase {
  font-size: 3em;
  margin: 20px;
  width: min-content;
}

.step2__phraseWrapper {
  border-bottom: 1px solid grey;
}

.step2__right {
  width: 20%;
}

.step2__edits {
  width: 100%;
}

.step2__edits__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.step2__edits__A {
  height: 20px;
}

.step2__edits__arrow {
  height: 10px;
}

.step2__edits__arrow img {
  width: 20ex;
  height: 10px;
}

.step2__edits__up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step2__edits__up p {
  font-weight: normal;
}

.step2__edits .colorPicker {
  display: none;
}

#generate {
  display: none;
}
/*# sourceMappingURL=style.css.map */