
.step1{
    display: flex;
    justify-content: center;
}
.content{
    max-width: 1400px;
    margin:  30px auto;
    // border: 1px solid black;
    flex-direction: row;
    &__textArea{
        font-size: 8rem;
    }
   
}